

body{
    font-family: sans-serif;
    background: white;
    margin: 0px;
}

header{
    text-align: center;
}

header img{
    width: 100%; 
}

/* configuraciones barra y texto */
nav{
    background: #242697;
    color: white;
    padding: 10px 0 10px 0;
    margin-top: 0px;
}

/* Alinea texto de izquierda a derecha */
nav ul li{
    display: inline;
    margin: 0 25px;
}

/* texto blanco del nav */
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Espacio alrededor texto */
a{
    padding: 10px;
}

/* Al pasar el mouse cambia */
a:hover{
    background-color: #2d9ec0;
    padding: 10px;
    border-radius: 10px;
}

section{
    padding-top: 50px;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.tienda{
    width: 800px;
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 30px;

}

.tabla{
    justify-content: center;
    align-items: center;
    display: flex;
    justify-items: center;
}

.forms{
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: center;
}